<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
  <div class="content mb-4 mx-4 mt-4">
    <h1 class="">Blog articles dedicated to all things Tech!</h1>
    <a href="/articles/new" class="button is-success is-rounded is-light">New Article</a>

    <% articles.forEach(article => { %>
      <div class="card mt-4">
        <div class="card-body px-4 py-4 ml-4">
          <h4 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle has-text-weight-light mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-4"><%= article.description %></div>

          <div class="crudButtons">
            <button class="button is-warning is-rounded is-light">
              <a href="articles/<%= article.slug %>">
                <span>Read More</span>
                <span class="icon is-small">
                  <i class="fas fa-book"></i>
                </span>
              </a>
            </button>
            <button class="button is-info is-rounded is-light">
              <a href="articles/edit/<%= article.id %>">
                <span>Edit</span>
                <span class="icon is-small">
                  <i class="far fa-edit"></i>
                </span>
              </a>
            </button>
            <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="is-inline">
              <button type="submit" class="button is-danger is-rounded is-light">
                <span>Delete</span>
                <span class="icon is-small">
                  <i class="fas fa-times"></i>
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>