<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <div class="content my-4 ml-4">
    <h1 class=""><%= article.title %></h1>
    <div class="text-muted mb-2">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <div class="mb-4">
      <a href="/" class="button is-primary is-rounded is-light">All Articles</a>
      <a href="/articles/edit/<%= article.id %>" class="button is-info is-rounded is-light">Edit</a>
    </div>
    <div>
      <%- article.sanitizedHtml %>
    </div>
  </div>
</body>
</html>